<div class="checkbox">
  <label>
    <f:form.checkbox id="useRegExp" property="useRegExp" value="1" /> Use regular expressions
  </label>
</div>
<div class="form-group">
  <label for="requestUri" class="col-sm-3 control-label">Request URI</label>
  <f:form.textfield class="form-control" id="requestUri" property="requestUri" />
</div>
<div class="form-group">
  <label for="targetUri" class="col-sm-3 control-label">Target URI</label>
  <f:form.textfield class="form-control" id="targetUri" property="targetUri" />
</div>
<div class="form-group">
  <label for="httpStatus" class="col-sm-3 control-label">HTTP Status</label>
  <f:form.textfield class="form-control" id="httpStatus" property="httpStatus" />
</div>
