<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers">

<f:layout name="Default" />

<f:section name="main">
  <div><f:link.action action="new" title="new" class="btn btn-primary">New</f:link.action></div>
  <table class="table">
    <thead>
    <tr>
      <th>UID</th>
      <th>Uses RegExp</th>
      <th>Request URI</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <f:widget.paginate objects="{configurations}" as="paginatedConfigurations">
      <f:for each="{paginatedConfigurations}" as="config">
        <tr>
          <td>{config.uid}</td>
          <td>
            <f:if condition="{config.useRegExp}">
              <f:then>
                <core:icon identifier="status-status-permission-granted" />
              </f:then>
              <f:else>
                <core:icon identifier="status-status-permission-denied" />
              </f:else>
            </f:if>
          </td>
          <td>{config.requestUri}</td>
          <td>
            <f:link.action action="edit" arguments="{config: config}">
              <core:icon identifier="actions-document-open" />
            </f:link.action>
            <f:link.action action="delete" arguments="{config: config}">
              <core:icon identifier="actions-edit-delete" />
            </f:link.action>
          </td>
        </tr>
      </f:for>
    </f:widget.paginate>
    </tbody>
  </table>
</f:section>
</html>
